* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 96vh;
  width: auto;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 20px;
  grid-template-areas: 
  'header header header'
  'sidebar contentone contentone'
  'sidebar contentone contentone'
  'sidebar contentone contentone'
  'footer footer footer';
}


.header-container {
  background-color: red;
  grid-area: header;
}

.sidebar-container {
  grid-area: sidebar;
  /* background-color: blue; */
  border: 1px solid black;
  /* height: 500px; */
}

.sidebar {
  position: fixed;
  top: 5rem;
  right: 22rem;
}

.main-container {
  grid-area: contentone;
  background-color: brown;
}

.footer {
  grid-area: footer;
  background-color: cadetblue;
}