@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.top-header {
    width: 680px;
    background-color: #6200ee;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

/* span {
    margin-left: 2rem;
} */

.icon-section {
    margin-left: auto;
}

i {
    margin-right: 1.3rem;
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

i:hover {
    background-color: #6e14ef;
    transform: 1s;
}